.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.imageWrapper {
  margin: auto;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
